# ---------------------------------------
# Database Credentials
# ---------------------------------------
POSTGRES_USER=xxxxxxxxx
POSTGRES_PASSWORD=yyyyyyyyyy
POSTGRES_DB=zzzzzzzzzzzzzzz

# ---------------------------------------
# Architecture Paths
# --------------------------------------
# file dir on local machine
LOCAL_DATA_DIR=xxxxxxxxxxxxxxxxxxxxxxxxx
#file dir on docker
STORAGE_DATA_DIR=yyyyyyyyyyyyyyyyyyyyy
